section.repository-list {
  margin: 40px;

  h1 {
    margin-bottom: 16px;
  }

  div.repository-container {
    display: grid;
    grid-gap: 32px;
    grid-template-columns: auto auto auto;
    padding: 10px;

    div.repository-item {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      border-radius: 6px;
      padding: 16px;
      border: 1px solid #d0d7de;

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-weight: bold;
        color: #8257e6;
      }

      p {
        font-size: 14px;
        color: #444;
        margin-top: 8px;
      }

      div.repository-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 16px;

        p {
          display: flex;
          flex-direction: row;
          align-items: center;

          & + p {
            margin-left: 16px;
          }
        }
      }
    }
  }
}
